<mat-card>
        <form (submit)="onAddPost(formPost)" #formPost="ngForm">
                <h2>Title</h2>
                <mat-form-field>
                        <input 
                         matInput 
                         name="title"
                         ngModel
                         type="text"
                         required
                         placeholder="Title"
                         minlength="3"
                         #title="ngModel">
                         <mat-error *ngIf="title.invalid">Write a title</mat-error>
                </mat-form-field>
                <h3>Content</h3>
                <mat-form-field>
                        <textarea 
                         matInput 
                         rows="4" 
                         name="content"
                         ngModel 
                         type="text"
                         required
                         placeholder="Content"
                         #content="ngModel">
                        </textarea>
                        <mat-error *ngIf="content.invalid">Write some content</mat-error>
                </mat-form-field>
                <button 
                 mat-raised-button 
                 color="accent" 
                 type="submit">Save Post</button>
        </form>
        
</mat-card>